.div-contact-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    margin-top: 100px;
    height: 550px;
}

.div-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
}

.div-contact-column-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 25px;
}

.div-contact-column{
    width: 50%;
    height: 100%;
    border: none;
}

.contact-p{
    text-align: left;
    width: 100%;
}

.contact-message{
    width: 100%;
    height: 80px;
    border-radius: 4px;
    border: 2px solid rgb(118, 118, 118);
    border-style: inset;
    background-color: darkslategray;
    resize: none;
    color: white;
}

.contact-message:focus{
    border: 2px groove darkkhaki;
    border-radius: 2px;
    background-color: darkslategray;
    color: white;
}

.contact-input{
    width: 100%;
    height: 25px;
    color: white;
    background-color: darkslategray;
}

.contact-submit{
    height: 40px;
    width: 25%;
    color: white;
    background-color: darkslategray;
    border-radius: 4px;
    border: 2px solid rgb(118, 118, 118);
    border-style: inset;
}

.contact-submit:hover{
    background-color: darkkhaki;
    color: darkslategrey;
    border: 1px solid darkslategray;

}

.div-contact-column-photos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    color: white;
}

.div-contact-column-photos-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.contact-svg{
    fill: khaki;
}

.contact-photo-p{
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(240, 230, 140, 0.582);
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 75px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 50%;
    background-color: darkslategrey;
    z-index: 2;
}

#logo {
    cursor: auto;
}

img {
    width: 5%;
    height: 70px;
    cursor: pointer;
}

button {
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: darkkhaki;
    color: darkslategrey;
    cursor: pointer;
}

button:hover {
    background-color: khaki;

    transition-duration: 0.5s;
}

#botones_login {
    width: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}