body {
    margin: 0;
    padding: 0;
    background-color: rgba(240, 230, 140, 0.582);
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 75px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 50%;
    background-color: darkslategrey;
    z-index: 2;
}

#logo {
    cursor: auto;
}

img {
    width: 5%;
    height: 70px;
    cursor: pointer;
}

button {
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: darkkhaki;
    color: darkslategrey;
    cursor: pointer;
}

button:hover {
    background-color: khaki;

    transition-duration: 0.5s;
}

#botones_login {
    width: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#caja_foto {
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
}

#foto_peluqueria {
    width: 100%;
    height: 300px;
    cursor: auto;
}

#foto_peluqueria:hover {
    width: 110%;
    height: 325px;
    
    transition-duration: 1s; 
}

h1 {
    font-family: Helvetica;
    color: darkslategrey;
}

h2 {
    width: 100%;
    text-align: center;
    font-family: Verdana;
}

h3 {
    width: 100%;
    font-family: Helvetica;
}

h4 {
    font-family: Helvetica;
}

h5 {
    font-family: Verdana;
}

p {
    font-family: Verdana;
}

section {
    width: 100%;
    height: 3720px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.info {
    width: 50%;
    text-align: center;
}

.slider {
	width: 80%;
    height: 500px;
    
	overflow: hidden;
}

.slider ul {
    width: 400%;
	display: flex;
	padding: 0;
	
	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
    height: 500px;
    cursor: auto;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.servicios {
    width: 50%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.foto_servicio {
    width: 50%;
    height: 250px;
    cursor: auto;
}

.texto {
    width:50%;
    height: 250px;
    margin-top: 100px;
    font-family: Verdana;
    text-align: center;
}

.hr_servicios {
    width: 10%;
}

li {
    list-style: none;
}

hr {
    width: 40%;
    color: rgba(240, 230, 140, 0.829);
}

#pedir_cita {
    width: 20%;
    height: 40px;
    border: 2px ridge darkkhaki;
    border-radius: 5px;
    background-color: darkslategrey;
    color: darkkhaki;
    font-weight: bold;
    cursor: pointer;
}

#pedir_cita:hover {
    border: 2px ridge darkslategrey;
    background-color: darkkhaki;
    color: darkslategrey;

    transition-duration: 0.5s;
}

#caja_cita {
    position: sticky;
    bottom: 100px;
}

#pedir_cita_sticky {
    width: 7.5%;
    height: 35px;
    margin-left: 85%;
    border: 2px ridge darkslategrey;
    border-radius: 20px;
    background-color: darkkhaki;
    color: darkslategrey;
    font-weight: bold;
    cursor: pointer;
    z-index: 3;
}

#pedir_cita_sticky:hover {
    background-color: darkslategrey;
    color: darkkhaki;

    transition-duration: 0.75s;
}

#ubicacion {
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
}

#titulo_articulos {
    margin-left: 5%;
    align-self: flex-start;
}

#mas_vendidos {
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.articulos {
    max-width: 15%;
    max-height: 350px;
}

.img_articulos {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px darkkhaki;
    background-color: lightyellow;
    cursor: auto;
}

#hr_articulos {
    width: 90%;
}

#articulos {
    width: 90%;
    height: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 15px;
    column-gap: 10%;
}

#boton_añadir {
    width: 100%;
    height: 30px;
    border: 2px ridge darkkhaki;
    border-radius: 5px;
    background-color: darkslategrey;
    color: darkkhaki;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

#boton_añadir:hover {
    border: 2px ridge darkslategrey;
    background-color: darkkhaki;
    color: darkslategrey;

    transition-duration: 0.25s;
}

#div_bloqueo {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.486);
    overflow: auto;
    z-index: 1;
}

.caja_producto {
    width: 40%;
    height: 400px;
    position: sticky;
    bottom: 150px;
    border: 4px outset darkkhaki;
    border-radius: 7.5px;
    background-color: darkslategrey;
    color: darkkhaki;

    animation-name: degradado;
    animation-duration: 0.75s;
}

.caja_superior {
    width: 90%;
    height: 220px;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10%;
}

.img_caja {
    width: 100%;
    height: 215px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgba(189, 183, 107, 0.219);
    background-color: lightyellow;
}

.descripcion {
    width: 92.5%;
    height: 75px;
    margin-left: 17.5px;
}

#caja_botones { 
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

#boton_confirmar {
    width: 17.5%;
    height: 40px;
    border: 2px ridge black;
    border-radius: 5px;
    background-color: forestgreen;
    color: white;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

#boton_confirmar:hover {
    border: 2px ridge black;
    background-color: lightgreen;
    color: black;

    transition-duration: 0.5s;
}

#boton_cancelar {
    width: 20%;
    height: 40px;
    border: 2px ridge black;
    border-radius: 5px;
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

#boton_cancelar:hover {
    border: 2px ridge black;
    background-color: lightsalmon;
    color: black;

    transition-duration: 0.5s;
}

@keyframes degradado {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.contenedor {
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica;
    font-size: 1.25em;
    text-align: center;
    background-color: darkslategrey;
    color: darkkhaki;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
}

.contenedor a {
    text-decoration: none;
    color: darkkhaki;
}

.contenedor a:hover {
    text-decoration: none;
    color: khaki;
}

.contenedor img {
    width: 15%;
    height: 40px;
    cursor: pointer;
}

#redes {
    font-size: 1.5em;
}

@media (max-width:750px) {    
    img {
        width: 7%;
    }
    
    button {
        height: 30px;
    }
    
    #botones_login {
        width: 30%;
    }
    
    #caja_foto {
        max-width: 125%;
        max-height: 250px;
    }
    
    #foto_peluqueria {
        width: 100%;
        height: 250px;
    }

    #foto_peluqueria:hover {
        width: 110%;
        height: 275px;
    }
    
    section {
        height: 3800px;
    }
    
    .slider {
        width: 80%;
        height: 400px;
    }
    
    .servicios {
        width: 80%;
        height: 250px;
    }
    
    .texto {
        width:50%;
        height: 250px;
        margin-top: 75px;
    }

    hr {
        width: 60%;
    }
    
    #pedir_cita {
        width: 20%;
        height: 40px;
    }
    
    #caja_cita {
        bottom: 300px;
    }
    
    #pedir_cita_sticky {
        width: 12.5%;
        height: 35px;
        margin-left: 80%;
    }
    
    #ubicacion {
        width: 90%;
        height: 250px;
    }

    #ubicacion li {
        font-size: 0.9em;
    }
    
    #mas_vendidos {
        width: 90%;
        height: 450px;
    }
    
    .articulos {
        max-width: 17.5%;
        max-height: 400px;
    }

    .articulos h3 {
        font-size: 0.8em;
    }

    .articulos h2 {
        font-size: 0.7em;
    }
    
    #boton_añadir {
        width: 100%;
        height: 30px;
        font-size: 0.9em;
    }
    
    .caja_producto {
        width: 75%;
    }
    
    #boton_confirmar {
        width: 17.5%;
    }
    
    #boton_cancelar {
        width: 20%;
    }
    
    .contenedor {
        font-size: 0.9em;
    }
}